{
  "plugins": [
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "overrides": [
    {
      "files": ["cypress/**/*"],
      "rules": {
        "testing-library/await-async-utils": "off"
      }
    }
  ]
}