#tournamentContainer {
    margin-top: 80px;
}

/* tournament setup */
#newTournamentForm {
    border: 1px solid slateblue;
}
/* #tournamentCompetitorSelection {
    border: 1px solid green;
}
#tournamentTimeSettingSelection {
    border: 1px solid orange;
}
*/
#tournamentPotentialCompetitorSelection {
    border: 1px solid blue;
}
#tournamentSelectedCompetitors {
    border: 1px solid brown;
}

/* tournament table */
#tournamentTable {
    background-color: blanchedalmond;
    border: 1px solid green;
}
.roundHeader {
    background-color: gray;
}