#tournamentContainer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.setColor {
    color: rgb(231, 231, 231);
}


/* tournament setup */
#newTournamentForm {
    border: 2px solid rgb(40, 40, 40);
    border-radius: 8px;
    background-image: url("../images/closup_dark_board.jpeg");
    background-size: 100%;
    background-position: 20%;
    width: 80%;
    margin-bottom: 1em;
    padding: 1em;
}

#competitorSelectionSplit {
    display: flex;
    flex-direction: column;
    width: 40%
        /* width: 40%; */
}

#tournamentPlayerSelectionSection {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 1em;
}

#potentialLabel {
    font-size: x-large;
    font-weight: 200;

}

#selectedLabel {
    font-size: x-large;
    font-weight: 200;
}

#tournamentPotentialCompetitorSelection {
    border: 1px solid #694873;
    border-radius: 4px;
    padding: .5em;
    backdrop-filter: blur(2px);
    height: 14em;
    overflow: scroll;

}

#tournamentSelectedCompetitors {
    backdrop-filter: blur(2px);
    height: 14em;
    overflow: scroll;

}

#tournamentSelectedCompetitors {
    border: 1px solid #4a9392;
    border-radius: 4px;
    padding: .5em;
    /* color: rgb(231, 231, 231); */
}

.newTournamentPlayerListItem {
    color: rgb(231, 231, 231);
    cursor: pointer;
}

.newTournamentPlayerListItem:hover {
    background-color: aqua;
}

#tournamentParameters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

#tournamentParameterControls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6em;
}

/* tournament list */
#activeTournamentsHeader {
    width: fit-content;
    color: rgb(231, 231, 231);
    margin: 0;
}

#activeTournamentsSection {
    width: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    /* border: 1px solid rgb(143, 121, 0); */
    border-radius: 6px;
}

#activeTournamentsList {
    width: 100%;
    list-style: none;
}

.tournamentListItem {
    color: rgb(231, 231, 231);
    cursor: pointer;
    padding: .5em;
    border: 1px solid rgb(143, 121, 0);
}

.activeTournamentListItem:hover {
    background-color: aqua;
}

#digitalTournamentCheckbox {
    cursor: pointer;
}
/* tournament progression controls for selected tournament */
#tournamentProgressionControls {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 1em 0;
}
/* scoring */
#tournamentScoringSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tournamentScoringMatchup {
    width: 30%;
}

/* matchup table */
#matchupsContainer {
    width: 80%;
    margin: 1em 0;
}

.whitePiecesMatchup {
    background-color: whitesmoke;
    color: black;
    font-weight: 500;
    padding: .5em;
    border-radius: 5px 0 5px 0;
    border: 1px solid rgb(40, 40, 40);
    text-align: center;
}

.blackPiecesMatchup {
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    font-weight: 500;
    padding: .5em;
    border-radius: 5px 0 5px 0;
    text-align: center;
}

.drawMatchupButton {
    background-color: rgb(96, 219, 250);
    font-weight: 500;
    padding: .5em;
    border-radius: 5px 0 5px 0;
    text-align: center;
    border: 1px solid rgb(40, 40, 40);

}

/* tournament table */

#tournamentTable {
    /* background-color: blanchedalmond; */
    color: rgb(231, 231, 231);
    border: 1px solid #f4d35e;
    border-radius: 6px;
    padding: 1em;
}

.roundHeader {
    background-color: gray;
    width: 2em;
}

/* .tournamentGameResult {
    display: flex;
    justify-content: center;
} */

.tournamentGameResultBye {
    display: flex;
    justify-content: center;
}