#messagingContainer {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

#chatAndInterface {
    display: flex;
    justify-content: center;
}

/* friend list */
#messagesFriends {
    width: 20%;
    margin-right: 1em;
}

.messagingFriendListItem {
    border: 1px solid firebrick;
    cursor: pointer;
    width: 10em;
}

.messagingFriendListItem:hover {
    border: 1px solid firebrick;
    background-color: aquamarine;
    cursor: pointer;
}

/* chat */
#chat {
    display: block;
    border: 1px solid orange;
    height: 60vh;
    width: 50vw;
    overflow: scroll;
    background-color: blanchedalmond;
}

.receivedMsg {
    border: 2px solid darkorchid;
    background-color: lavender;
    border-radius: 4px;
    padding: .5em;
    width: fit-content;
    margin-right: auto;
    list-style: none;
}

.sentMsg {
    border: 2px solid darkgreen;
    background-color: rgb(205, 250, 205);
    border-radius: 4px;
    padding: .5em;
    width: fit-content;
    margin-left: auto;
    list-style: none;
}

#chatInterface {
    width: 80%;
    padding: .5em;
    border-radius: 4px;
    border: 1px solid gray;
}

/* .animate {
    animation: moveLeft;
    animation-duration: 0.5s;
}

@keyframes moveLeft {
    from {
        margin-left: 0;
        margin-right: 100%;
    }

    to {
        margin-left: -100%;
        margin-right: 0;
    }
} */