#chessClubsContainer {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

#myChessClubsArticle {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myClubsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
#createChessClubButton {
    width: 12em;
    font-size: larger;
    border: none;
    border-radius: 4px;
    padding: .5em;
    background-color: #694873;
    cursor: pointer;
}
#clubForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInput {
    display: flex;
    flex-direction: column;
    width: 80%;
}

textarea {
    font-family: 'Public Sans', sans-serif;
    resize: none;
    height: 5em;
    margin-bottom: .5em;
}
#newClubButtonBlock {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
#newClubPasswordSetModal {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 40%;
    background-color: #202020;
    border: 1px solid #f4d35e;
    padding: 2em;
}
#editClubModal {
    display: none;
    width: 20em;
    position: absolute;
    top: 20%;
}
#editClubContainer {
    backdrop-filter: blur(10px);
    border: 1px solid #694873;
    border-radius: 4px;
    padding: .5em;
}
#editClubHeader {
    display: flex;
    justify-content: space-between;
}
.managedClubsListItem {
    width: 14em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #694873;
    border-radius: 4px;
    margin-bottom: .25em;
    padding: .25em;
}
#errorModal {
    display: none;
    flex-direction: column;
    position: absolute;
    color: whitesmoke;
    backdrop-filter: blur(10px);
    background-color: #202020;
    border: 1px solid #694873;
    border-radius: 4px;
    padding: .5em;
}