/* overall layout */
#homepageContainer {
    margin-top: 80px;
}

#forumAndOpenChallenges {
    display: flex;
    justify-content: space-evenly;
    max-width: 960px;
}

#myActiveGames {
    display: flex;
    flex-direction: column;
    max-width: 960px;
}

/* general use classnames */
.opponentSectionForListItem {
    width: 14em;
}
/* community forum section styling */
#communityForum {
    width: 40%;
}

#communityForumInterface {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#communityForumInput {
    width: 70%;
}

#communityForumSubmitBtn {
    width: 25%;
}

.communityPost {
    list-style: none;
    border: 1px solid orange;
}

/* active tournament section styling */
.activeTournamentListItem {
    list-style: none;
    border: 1px solid rgb(59, 174, 174)
}


/* active games section */
.tournamentActiveGameListItem {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid orange;
}

.activeGameListItem {
    display: flex;
    justify-content: space-evenly;
}

/* create challenge section */
#piecesSelectionContainer {
    display: flex;
}

#whitePiecesSelect {
    color: rgb(52, 52, 52);
    font-style: oblique;
    font-size: larger;
    font-weight: 600;
    background-color: whitesmoke;
    width: 4em;
    padding: 2em;
    border: 2px solid rgb(52, 52, 52);
    border-radius: 8px 0 0 8px;
    border-right: none;
    text-align: center;
    cursor: pointer;
}

#blackPiecesSelect {
    color: whitesmoke;
    font-style: oblique;
    font-size: larger;
    font-weight: 600;
    background-color: rgb(52, 52, 52);
    width: 4em;
    padding: 2em;
    border: 2px solid rgb(52, 52, 52);
    border-radius: 0 8px 8px 0;
    border-right: none;
    text-align: center;
    cursor: pointer;
}

#blackPiecesSelect:hover {
    background-color: rgb(90, 0, 68);
}

#whitePiecesSelect:hover {
    background-color: rgb(241, 133, 214);
}


/* open challenges section */
#openChallengesList {
    display: flex;
    flex-direction: column;
}

.challengeListItem {
    height: fit-content;
    display: flex;
    flex-direction: column;

}

#whiteChallengeSpan {
    color: rgb(52, 52, 52);
    font-style: oblique;
    font-weight: 500;
    background-color: whitesmoke;
    width: 4em;
    padding: .25em;
    border: 1px solid rgb(52, 52, 52);
    border-radius: 3px;
    text-align: center;
}

#blackChallengeSpan {
    color: whitesmoke;
    font-style: oblique;
    font-weight: 500;
    background-color: rgb(52, 52, 52);
    width: 4em;
    padding: .25em;
    border: 1px solid rgb(52, 52, 52);
    border-radius: 3px;
    text-align: center;
}

.challengeBtn {
    width: 4em;
    text-align: center;
}