#profileContainer {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    width: 90vw;
}
#profileHead {
    color:rgb(231, 231, 231)
}
#profilePerformanceAndFriends {
    display: flex;
    justify-content: space-between;
}
/* profile info and update */
#profileInfoAndEdit {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 2em;
}
#profileInfo {
    color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: start;

}
.editProfileButton {
    width: fit-content;
    height: 1.5em;
}
#updateProfileSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: rgb(231, 231, 231);
}

/* profile friend list */
#profileFriendContainer {
    border: 1px solid orange;
    width: fit-content;
    padding: 1em;
    border-radius: 4px;
    color: rgb(231, 231, 231);
    margin-bottom: 2em;
}

.profileUserListItem {
    display: flex;
    align-items: center;
}


/* performance data */
#profilePerformaceData {
    color: rgb(231, 231, 231);
    font-size: xx-large;
    font-weight: 200;
}

/* past games section */
.profilePastGamesListItem {
    color: rgb(231, 231, 231);
}
.tournamentPastGameListItem {
    color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid orange; */
    width: 100%;
    height: 2em;
    padding: .5em;
    backdrop-filter: blur(30px);
    border: 1px solid #694873;
    border-radius: 4px;
    margin-bottom: .25em;
}

.pastGameListItem {
    color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 2em;
    padding: .5em;
    backdrop-filter: blur(30px);
    border: 1px solid #4a9392;
    border-radius: 4px;
    margin-bottom: .25em;
}

.trophyIconProfile {
    height: 3em;
}

.pastGamesListLogisticsInfo{
    font-size: small;
    margin-right: 1em;
}