#navLinks {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    flex-wrap: wrap;
    list-style: none;

}
#logo {
    width: fit-content;
}
#logo__icon {
    width: fit-content;
}
.navigation {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
    /* border-bottom: 1px solid lightblue; */
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    top: 0;
    width: 100%;
    /* background-color: whitesmoke; */
    margin: auto;
    height: 70px;
    /* background-color: #0d6767; */
    box-shadow: rgba(255, 255, 255, 0.26) 0px -2px 4px inset;
    background-color: #202020;
    /* background-image: linear-gradient(to right, #0e483efd, whitesmoke); */
}
.navigation_logout {
    /* margin-right: 2em;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    position: relative; */
    color: #ec44ff;
    text-decoration: none;
}
li .navigation_link {
    /* margin-right: 1em; */
    color: #ccfaff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navigation__name {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    color: #ccfaff;
    text-decoration: none;

}